body {
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgrey;
}

header {
    
    background-color: whitesmoke;
    height:60px;
    border : 2px solid darkgrey;
    text-align:center;
}

h1 {
    font-family: 'Smythe', cursive;
    line-height:15px;
}

section {
    display : flex;
}



.left-menu{
    margin-top : 10px;
    margin-right:10px;
    width: 200px;
    height : 400px;
    background-color: whitesmoke;
    border : 2px solid darkgrey;
}
.left-menu ul {
    list-style-type: none;
    
}
.left-menu a {
    text-decoration:none;
    color:grey;
}

.left-menu a:hover {
    color:black;
    
}

.content-body {
    margin-top: 10px;
    width: 1200px;
    height : 400px;
    background-color: whitesmoke;
    border : 2px solid darkgrey;
}

footer {
    margin-top : 10px;
    background-color: whitesmoke;
    height:60px;
    border : 2px solid darkgrey;
}

footer ul {
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    margin-right: 40px;
    
}

footer a {
    text-decoration: none;
    color:grey;
    line-height: 25px;
}

footer a:hover {
    color:black;
    
}

